  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container{
  background-color: #171D25;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input {
  display: block;
  width: 200px;
  height: 40px;
  background-color: #2A3F5A;
  border: 2px solid #292929;
  border-radius: 10px;
  padding: 0px 12px;
  outline: none;
  caret-color: rgb(152, 88, 255);
  color: rgb(212, 212, 212);
  font-size: 12px;
  transition-duration: .2s;
  font-size: 15px;
}

.input:focus,
.input:valid {
  border: 2px solid #A1CD44;
  transition-duration: .2s;
}

.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}

.button{
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A1CD44;
  border-radius: 10px;
  color: #2F2F2F;
}

.recomendaciones-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #A1CD44;
  border-radius: 10px;
}

.recomendaciones-section h2{
  color: #1999FF;
}

.recomendaciones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.titulo-metodo{
  color: #1999FF;
}

.lista{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0;
  gap: 20px;
}

.item{
  display: flex;
  flex-direction: column;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  gap: 5px;
}

.item-juego{
  color: #1999FF;
}

.item-similitud{
  background-color: #A1CD44;
  color: #2F2F2F;
  padding: 0 5px 0 5px;
  border-radius: 10px;
}

.juego-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid #A1CD44;
  width: 800px;
  border-radius: 10px;
  padding: 30px;
}

.juego-info h3{
  color: #A1CD44;
  width: 200px;
}

.caracteristicas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.caracteristicas p{
  text-align: left;
}

.caracteristicas p strong{
  color: #1999FF;
}
.footer h3{
  color: #1999FF;
}

.footer strong{
  color: #A1CD44;  
}

ul{
  list-style-type: none;
}